<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="Suite" parallel="tests" thread-count="10">
    <listeners>
        <listener class-name="Testng_package.Listeners"/>
      <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

    <parameter name="URL" value="https://qaclickacademy.com/"/>

    <test name="Test">
        <classes>
            <class name="Testng_package.Testng_demo">
            <methods>
                 <include name="demo"/>
          </methods>
            </class>
            <class name="Testng_package.Testng_2"/>
            <class name="Testng_package.Testng_4"/>
            <!-- Add more classes here -->
        </classes>
    </test>
    <test name="car">
        <parameter name="URL" value="carloan.com"/>
        <parameter name="APIKey/username" value="123456"/>

        <classes>
            <class name="Testng_package.Teastng_3">
             <!--  <methods>
                   <exclude name="mob.*"/>
            </methods>-->
            </class>
        </classes>
    </test>
</suite>